.loading-page {
  .container {
    height: 100%;
  }

  &__content {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    &--loader {
      grid-template-columns: 150px;
      display: grid;
      justify-items: center;
      grid-gap: var(--padding-lg);

      .ed-progress {
        height: 2px;
      }
    }
  }
}
