.loading-page {
  .ed-container {
    height: 100%;
  }

  &__content {
    background: url('../../assets/images/page_background.svg');
    background-size: cover;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    &--loader {
      grid-template-columns: 150px;
      display: grid;
      justify-items: center;
      grid-gap: var(--padding-lg);

      .ed-progress {
        height: 2px;
      }
    }
  }
}
