.fullscreen {
  top: 60px;
}

mat-error {
  text-align: center;
  color: var(--text-primary);
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.videoStatusInfo {
  bottom: 0;
  left: 0;
  display: grid;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: white;
  justify-content: start;
  padding: 50px var(--padding) var(--padding);
  grid-auto-flow: column;
  align-items: center;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  grid-gap: var(--padding);
}

.videoStatusInfo mat-icon {
  color: white;
}

.videoStatusInfo user-avatar {
  width: 1.5em;
  height: 1.5em;
}

#camStatus {
  bottom: 43px;
}

.no-video {
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.no-video__image {
  width: 150px;
  height: 150px;
  font-size: 50px;
}

.no-video__nickname {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.1);
}

.videoButtons {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 99999;
  width: 50px;
  text-align: center;
  pointer-events: all;
}
.videoButtons button {
  background-color: var(--bg-primary);
  width: 30px;
  height: 30px;
  margin: 1px;
}

/* Contains the video element, used to fix video letter-boxing */
.OT_widget-container {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  position: absolute;
  overflow: hidden;
  border: 2px solid transparent;
}

.OT_widget-container.speaking {
  border: 2px solid greenyellow;
}

mat-error,
::ng-deep .mat-focused .mat-form-field-label,
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: var(--text-primary) !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline,
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #cacaca !important;
}

input {
  caret-color: #ffffff !important;
}
