<div
  class="OT_widget-container"
  [id]="'container-' + connection.getStream()?.streamId"
  #streamComponent
  (dblclick)="toggleVideoSize()"
>
  <div
    class="no-video"
    [style.display]="!connection.isVideoActive() ? 'grid' : 'none'"
    [style.background]="greyBackground(connection.getDisplayedName())"
  >
    <div class="no-video__image">
      <user-avatar fontSize="50px" [name]="connection.getDisplayedName()" [avatar]="user.getAvatar()"></user-avatar>
    </div>
  </div>

  <ov-video [streamManager]="connection.getStreamManager()" (toggleVideoSizeEvent)="toggleVideoSize($event)"></ov-video>

  <div class="videoStatusInfo">
    <user-avatar [name]="connection.getDisplayedName()" [avatar]="user.getAvatar()" fontSize="0.7em"></user-avatar>
    <div class="user-nickname">{{ connection.getDisplayedName() }}</div>
    <mat-icon class="disabled tiny" *ngIf="connection.isCamera()" [ngClass]="user.isAudioActive() ? '' : 'inactive'">
      {{ user.isAudioActive() ? 'mic_on' : 'mic_off' }}
    </mat-icon>
    <mat-icon class="disabled tiny" *ngIf="connection.isCamera()" [ngClass]="user.isVideoActive() ? '' : 'inactive'">
      {{ user.isVideoActive() ? 'videocam_on' : 'videocam_off' }}
    </mat-icon>
    <mat-icon class="disabled tiny" *ngIf="connection.isScreen()">screen_share</mat-icon>

    <app-active-user-wrapper>
      <mat-icon [matMenuTriggerFor]="menu" class="tiny" *ngIf="!isFullscreen">more_horiz</mat-icon>
      <mat-menu #menu="matMenu" class="small">
        <button mat-menu-item (click)="toggleVideoSize()">
          <mat-icon class="disabled">{{ connection.isZoomedIn() ? 'zoom_out' : 'zoom_in' }}</mat-icon>
          <span>
            {{ connection.isZoomedIn() ? 'Zoom out' : 'Zoom in' }}
          </span>
        </button>
        <button mat-menu-item (click)="toggleFullscreen()">
          <mat-icon class="disabled">{{ !isFullscreen ? 'fullscreen' : 'fullscreen_exit' }}</mat-icon>
          <span>
            {{ !isFullscreen ? 'Fullscreen' : 'Exit fullscreen' }}
          </span>
        </button>
        <button
          mat-menu-item
          (click)="toggleSound()"
          *ngIf="!isMine() && connection.isCamera()"
          [disabled]="!localUser?.isModerator()"
        >
          <mat-icon class="disabled">{{ user.isAudioActive() ? 'mic_off' : 'mic_on' }}</mat-icon>
          <span>
            {{ user.isAudioActive() ? 'Mute participant' : 'Unmute participant' }}
          </span>
        </button>
      </mat-menu>
    </app-active-user-wrapper>
  </div>

  <div class="videoButtons">
    <button
      mat-icon-button
      (click)="replaceScreenTrack()"
      id="changeScreenButton"
      *ngIf="!user.isRemote() && connection.isScreen()"
    >
      <mat-icon matTooltip="Choose screen">picture_in_picture</mat-icon>
    </button>
  </div>
</div>
