<div
  *ngIf="user"
  class="OT_widget-container"
  [id]="'container-' + connection.getStream().streamId"
  #streamComponent
  (dblclick)="toggleVideoSize()"
>
  <ng-template>
    <div class="nickname" [class.fullscreen]="isFullscreen">
      <div (click)="toggleNicknameForm()" class="nicknameContainer" selected *ngIf="!toggleNickname">
        <span id="nickname">{{ user.getNickname() }}</span>
        <span *ngIf="!user.isRemote()"> (edit)</span>
      </div>
      <div *ngIf="toggleNickname && !user.isRemote()" [class.fullscreen]="isFullscreen" id="dialogNickname">
        <button mat-icon-button (click)="toggleNicknameForm()" id="closeButton">
          <mat-icon matTooltip="Close">highlight_off</mat-icon>
        </button>
        <form id="nicknameForm">
          <mat-form-field color="primary">
            <input
              matInput
              #nicknameInput
              placeholder="Nick: {{ user.getNickname() }}"
              [formControl]="nicknameFormControl"
              [errorStateMatcher]="matcher"
              (keypress)="eventKeyPress($event)"
              autocomplete="off"
            />
            <mat-error *ngIf="nicknameFormControl.hasError('required')">
              Nickname is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="nicknameFormControl.hasError('maxlength')">
              Nickname is <strong>too long!</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </ng-template>

  <div
    class="no-video"
    [style.display]="!user.isVideoActive() ? 'grid' : 'none'"
    [style.background]="greyBackground(user.getNickname())"
  >
    <div class="no-video__image">
      <user-avatar fontSize="50px" [name]="user.getNickname()" [avatar]="user.getAvatar()"></user-avatar>
    </div>
  </div>

  <ov-video [streamManager]="connection.getPublisher()" (toggleVideoSizeEvent)="toggleVideoSize($event)"></ov-video>

  <div class="videoStatusInfo">
    <user-avatar [name]="user.getNickname()" [avatar]="user.getAvatar()" fontSize="0.7em"></user-avatar>
    <div class="user-nickname">{{ user.getNickname() }}</div>
    <mat-icon class="disabled tiny" *ngIf="connection.isCamera()" [ngClass]="user.isAudioActive() ? '' : 'inactive'">
      {{ user.isAudioActive() ? 'mic_on' : 'mic_off' }}
    </mat-icon>
    <mat-icon class="disabled tiny" *ngIf="connection.isCamera()" [ngClass]="user.isVideoActive() ? '' : 'inactive'">
      {{ user.isVideoActive() ? 'videocam_on' : 'videocam_off' }}
    </mat-icon>
    <mat-icon class="disabled tiny" *ngIf="connection.isScreen()">screen_share</mat-icon>

    <mat-icon [matMenuTriggerFor]="menu" class="tiny" *ngIf="!isFullscreen">more_horiz</mat-icon>
    <mat-menu #menu="matMenu" class="small">
      <button mat-menu-item (click)="toggleVideoSize()">
        <mat-icon class="disabled">{{ isZoomedIn ? 'zoom_out' : 'zoom_in' }}</mat-icon>
        <span>
          {{ isZoomedIn ? 'Zoom out' : 'Zoom in' }}
        </span>
      </button>
      <button mat-menu-item (click)="toggleFullscreen()">
        <mat-icon class="disabled">{{ !isFullscreen ? 'fullscreen' : 'fullscreen_exit' }}</mat-icon>
        <span>
          {{ !isFullscreen ? 'Fullscreen' : 'Exit fullscreen' }}
        </span>
      </button>
      <button
        mat-menu-item
        (click)="toggleSound()"
        *ngIf="!isMine() && connection.isCamera()"
        [disabled]="!localUser?.isModerator()"
      >
        <mat-icon class="disabled">{{ user.isAudioActive() ? 'mic_off' : 'mic_on' }}</mat-icon>
        <span>
          {{ user.isAudioActive() ? 'Mute participant' : 'Unmute participant' }}
        </span>
      </button>
    </mat-menu>
  </div>

  <div class="videoButtons">
    <button
      mat-icon-button
      (click)="replaceScreenTrack()"
      id="changeScreenButton"
      *ngIf="!user.isRemote() && connection.isScreen()"
    >
      <mat-icon matTooltip="Choose screen">picture_in_picture</mat-icon>
    </button>
  </div>
</div>
