.eb-input__text--select {
  .eb-input__dropdownSelect {
    height: unset !important;
    min-height: 2em;
    align-items: center;
    display: grid;

    &:focus-within {
    }
    .react-dropdown-select {
      border: none;
      box-shadow: none;
      padding: 0;
      min-height: unset;

      input {
        height: 100%;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        font-size: 1em;
      }
    }

    .react-dropdown-select-dropdown {
      margin-left: -3em;
      padding-right: 3em;
      top: calc(100% + var(--padding-lg));
      background: var(--bg-primary);
    }

    .react-dropdown-select-content {
      align-items: center;
    }

    .react-dropdown-select-separator {
      display: none;
    }

    .react-dropdown-select-item {
      padding: var(--padding) 0 var(--padding) 3em;
      width: calc(100% - 0.3em);
      border-bottom: 1px solid var(--line-color);

      &-selected {
        color: var(--primary);
        background: none;
        position: relative;

        &:before {
          content: '\2713';
          font-size: 1.2em;
          color: var(--text-success);
          position: absolute;
          left: var(--padding);
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .react-dropdown-select-option-label {
      color: var(--text-primary);
    }
    .react-dropdown-select-option-remove {
      color: var(--accent);
    }
  }
}
