.ed-horizontal-scroll {
  overflow-x: auto;
  position: relative;
  padding: var(--padding-lg) 0;
  transition: 0.5s scrollLeft;

  &::-webkit-scrollbar {
    display: none;
  }

  &__parent {
    position: relative;

    .indicator {
      position: absolute;
      height: 100%;
      display: grid;
      align-items: center;
      padding: 0 var(--padding-lg);
      top: 0;
      background: linear-gradient(90deg, var(--bg-secondary), transparent);
      transition: 0.5s font-size, 0.5s transform;
      cursor: pointer;
      .icon {
        font-size: 40px;
        transition: 0.5s font-size, 0.5s transform;
      }

      &:hover {
        .icon {
          font-size: 45px;
          transform: translateX(-10px);
        }
      }

      &__right {
        right: 0;
        transform: rotateY(180deg) translateX(-100%);
      }

      &__left {
        transform: translateX(-100%);
        left: 0;
      }
    }
  }
}
