.add-question-modal {
  width: 90vw;
  max-width: 100vw;
  height: 90vh;
  max-height: 100vh;
}
.assessment-questions {
  display: grid;
  grid-gap: var(--padding-lg);
  grid-template-columns: 1fr 1fr;

  &__answers {
    .answers-container {
      display: grid;
      grid-gap: var(--padding);
    }

    .answer-panel {
      display: grid;
      align-items: center;
      grid-gap: var(--padding);
      grid-template-columns: auto 1fr;

      .answer-index {
        font-size: 18px;
        width: 30px;
        height: 30px;
        color: var(--text-alternate);
        background: var(--text-primary);
        display: grid;
        place-items: center;
        border-radius: 50%;
      }

      &__header {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;

        > div {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          grid-gap: var(--padding-lg);
        }

        span {
          font-weight: 500;
        }

        .delete-answer {
          justify-self: end;
        }
      }
    }
  }
}
