.quiz-questions {
  display: grid;
  grid-gap: var(--padding-lg);
  grid-auto-flow: row;

  &__answers {
    .answers-container {
      display: grid;
      grid-gap: var(--padding-lg);
      grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
      align-items: start;
    }

    .answer-panel {
      display: grid;
      grid-template-rows: auto 1fr;

      &__header {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        align-items: center;
        grid-gap: var(--padding);

        span {
          font-weight: 500;
        }
      }
    }
  }
}
