.create-assessment-form {
  .assessment-details-form {
    padding: var(--padding);

    .assessment-details {
      display: grid;
      grid-gap: var(--padding-lg);
      align-items: start;

      > div {
        display: grid;
        grid-gap: var(--padding-lg);
      }
    }
  }

  .basic-form__submitArea {
  }
}
