extends base_template
block greeting
  p.title
  span Hello Admin
block content
  h4.
    New School created
  p.
    A new school has been created with the following details.
  table
    tr
      td
        b Name:
      td #{name}
    tr
      td
        b Email:
      td #{email}
    tr
      td
        b Phone Number:
      td #{phoneNumber}
