extends base_template
block greeting
    p.title
    span Hello #{username || 'there'}
block content
    h4.
        Rest password request
    p.
        You have requested for a password reset. Click on the following link in order to reset your password.
    a(href=link)
        span Reset password
