extends base_template
block greeting
    p.title
    span Hello #{fullName || 'there'}
block content
    h4.
        Password Changed
    p.
        Your password has been changed to:
    h2 #{password}
    p.
        Use it to access your account going forward.
