.loading-page {
  .container {
    height: 100%;
  }

  &__content {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    &--loader {
      grid-template-columns: 150px;
      display: grid;
      justify-items: center;
      grid-gap: var(--padding-lg);
    }
  }
}
