.ask-question-dialog {
  min-width: 400px;
  width: 100%;

  mat-form-field {
    width: 100%;
  }

  textarea {
    height: 200px;
    width: 100%;
    color: var(--text-primary);

    &::placeholder {
      color: var(--text-secondary);
    }
  }
}
