.ed-pagination {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;

  &__pages {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: var(--padding);
    padding: var(--padding) 0;

    button {
      min-width: 2em;
    }
  }
}
