.conference-module-list {

  .module-list {
    display: grid;
    grid-gap: var(--padding);
    h3 {
      padding: var(--padding-lg) 0;
    }
  }

  .conference-module-item:not(.assignment) {
    color: var(--text-primary);
  }

  .conference-module-item {
    &.assignment {
    }
  }
}
