.CircularProgressbar-path {
  stroke: var(--primary) !important;
}
.CircularProgressbar-trail {
  stroke: var(--bg-secondary) !important;
}
.CircularProgressbar-text {
  fill: var(--text-primary) !important;
}
.CircularProgressbar-background {
  fill: green !important;
}
