.notFound__content {
  display: grid;
  justify-items: center;
  padding: var(--padding);
  grid-gap: 2em;

  img {
    background: var(--bg-secondary);
    justify-self: stretch;
    padding: var(--padding);
  }
}
