<div id="videoRoomNavBar" [class.boundsLight]="lightTheme">
  <app-room-config
    [ovSettings]="ovSettings"
    [externalConfig]="externalConfig"
    (join)="onConfigRoomJoin()"
    (leaveSession)="leaveSession()"
    (publisherCreated)="emitPublisher($event)"
  ></app-room-config>

  <div *ngIf="localUser">
    <div *ngIf="isConnectionLost" class="reconnecting-container"></div>

    <mat-sidenav-container class="sidenav-container" id="room-container" [class.boundsLight]="lightTheme" fullscreen>
      <mat-sidenav
        #sidenav
        mode="{{ sidenavMode }}"
        position="end"
        class="sidenav-chat"
        [class.boundsLight]="lightTheme"
        fixedInViewport="true"
        fixedTopGap="0"
        fixedBottomGap="0"
      >
        <chat-component
          (closeButtonClicked)="toggleChat()"
          *ngIf="utilsSrv.isChatOpen() && localUser.can(MeetingCapabilities.CHAT)"
          [lightTheme]="lightTheme"
        ></chat-component>
        <participants-list
          *ngIf="utilsSrv.isParticipantsOpen()"
          (muteAllButtonClicked)="this.toggleEveryoneMic($event)"
          (turnOffVideoForAllButtonClicked)="this.toggleEveryoneVideo($event)"
          (closeButtonClicked)="toggleParticipants()"
        ></participants-list>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-main">
        <app-toolbar
          [lightTheme]="lightTheme"
          [compact]="compact"
          [localUser]="localUser"
          [mySessionId]="mySessionId"
          [sessionTitle]="externalConfig.sessionTitle || mySessionId"
          [hasVideoDevices]="hasVideoDevices"
          [hasAudioDevices]="hasAudioDevices"
          [whiteboardActive]="whiteboardShown"
          [isAutoLayout]="isAutoLayout"
          [isConnectionLost]="isConnectionLost"
          (camButtonClicked)="toggleCam()"
          (micButtonClicked)="toggleMic()"
          (screenShareClicked)="toggleScreenShare()"
          (leaveSessionButtonClicked)="leaveSession(true)"
          (participantsListButtonClicked)="toggleParticipants()"
          (chatButtonClicked)="toggleChat()"
          (whiteboardButtonClicked)="toggleWhiteboard()"
        ></app-toolbar>
        <div id="whiteboard-layout" class="bounds" [style.display]="whiteboardShown ? 'block' : 'none'">
          <canvas-whiteboard
            #canvasWhiteboard
            [drawButtonClass]="'drawButtonClass'"
            [drawButtonText]="'Draw'"
            [clearButtonClass]="'clearButtonClass'"
            [clearButtonText]="'Clear'"
            [undoButtonText]="'Undo'"
            [undoButtonEnabled]="true"
            [redoButtonText]="'Redo'"
            [redoButtonEnabled]="true"
            [colorPickerEnabled]="true"
            [saveDataButtonEnabled]="true"
            [saveDataButtonText]="'Save'"
            [lineWidth]="5"
            [strokeColor]="'rgb(0,0,0)'"
            [shouldDownloadDrawing]="true"
            (onBatchUpdate)="onWhiteboardUpdate($event)"
          >
          </canvas-whiteboard>
        </div>
        <div
          id="layout"
          class="bounds"
          [class.boundsLight]="lightTheme"
          [style.display]="whiteboardShown ? 'none' : 'block'"
        >
          <div
            class="OT_root OT_publisher custom-class"
            id="localUser"
            *ngFor="let user of localUser.getEnabledConnections()"
          >
            <stream-component
              [localUser]="localUser"
              [user]="localUser"
              [connection]="user"
              (replaceScreenTrackClicked)="onReplaceScreenTrack($event)"
              (toggleVideoSizeClicked)="onToggleVideoSize($event)"
            ></stream-component>
          </div>

          <ng-container *ngFor="let user of remoteUsers">
            <div
              class="OT_root OT_publisher custom-class"
              id="remoteUsers"
              *ngFor="let connection of user.getEnabledConnections()"
            >
              <stream-component
                [localUser]="localUser"
                [connection]="connection"
                [user]="user"
                (toggleVideoSizeClicked)="onToggleVideoSize($event)"
              ></stream-component>
            </div>
          </ng-container>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
