<div *ngIf="!!ovSettings" id="videoRoomNavBar" [class.boundsLight]="lightTheme">
  <app-room-config
    *ngIf="showConfigRoomCard"
    [ovSettings]="ovSettings"
    [externalConfig]="externalConfig"
    (join)="onConfigRoomJoin()"
    (leaveSession)="leaveSession()"
    (publisherCreated)="emitPublisher($event)"
  ></app-room-config>

  <div *ngIf="localUsers && localUsers.length > 0">
    <div *ngIf="isConnectionLost" class="reconnecting-container"></div>

    <mat-sidenav-container class="sidenav-container" id="room-container" [class.boundsLight]="lightTheme" fullscreen>
      <mat-sidenav
        #sidenav
        mode="{{ sidenavMode }}"
        position="end"
        class="sidenav-chat"
        [class.boundsLight]="lightTheme"
        fixedInViewport="true"
        fixedTopGap="0"
        fixedBottomGap="0"
        *ngIf="ovSettings?.chat"
      >
        <chat-component
          (closeButtonClicked)="toggleNav('chat')"
          *ngIf="sidenavContent === 'chat'"
          #chatComponent
          [lightTheme]="lightTheme"
        ></chat-component>
        <participants-list
          *ngIf="sidenavContent === 'participants'"
          (muteAllButtonClicked)="this.toggleEveryoneMic()"
          (turnOffVideoForAllButtonClicked)="this.toggleEveryoneVideo()"
          #participantsListComponent
          (closeButtonClicked)="toggleNav('participants')"
        ></participants-list>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-main">
        <app-toolbar
          [lightTheme]="lightTheme"
          [compact]="compact"
          [mySessionId]="mySessionId"
          [sessionTitle]="externalConfig.sessionTitle || mySessionId"
          [externalConfig]="externalConfig"
          [hasVideoDevices]="hasVideoDevices"
          [hasAudioDevices]="hasAudioDevices"
          [isWebcamVideoEnabled]="oVSessionService.hasWebcamVideoActive()"
          [isWebcamAudioEnabled]="toolbarMicIconEnabled()"
          [isScreenEnabled]="oVSessionService.isScreenShareEnabled()"
          [isAutoLayout]="isAutoLayout"
          [isConnectionLost]="isConnectionLost"
          (camButtonClicked)="toggleCam()"
          (micButtonClicked)="toggleMic()"
          (screenShareClicked)="toggleScreenShare()"
          (layoutButtonClicked)="toggleSpeakerLayout()"
          (leaveSessionButtonClicked)="leaveSession(true)"
          (participantsListButtonClicked)="toggleNav('participants')"
          (chatButtonClicked)="toggleNav('chat')"
        ></app-toolbar>
        <div id="layout" class="bounds" [class.boundsLight]="lightTheme">
          <div class="OT_root OT_publisher custom-class" id="localUser" *ngFor="let localUser of localUsers">
            <!-- Only webcam video will be shown if webcamera is available -->
            <stream-component
              [user]="localUser"
              [localUser]="getLocalUser()"
              [videoSizeBig]="localUser.isVideoSizeBig()"
              (nicknameClicked)="onNicknameUpdate($event)"
              (replaceScreenTrackClicked)="onReplaceScreenTrack($event)"
              (toggleVideoSizeClicked)="onToggleVideoSize($event)"
            ></stream-component>
          </div>

          <div *ngFor="let user of remoteUsers" class="OT_root OT_publisher custom-class" id="remoteUsers">
            <stream-component
              [localUser]="getLocalUser()"
              [user]="user"
              [videoSizeBig]="user.isVideoSizeBig()"
              (toggleVideoSizeClicked)="onToggleVideoSize($event)"
            ></stream-component>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
