.page-profile {
  display: grid;
  grid-template-columns: minmax(200px, 300px) minmax(300px, 700px) minmax(200px, 300px);
  grid-gap: var(--padding-lg);
  margin-top: var(--padding-xlg);
  align-items: start;

  &__main {
    display: grid;
    grid-gap: var(--padding-xlg);
  }

  &__account {
    display: grid;
    grid-gap: var(--padding-xlg);

    .ed-card__header {
      grid-template-columns: 1fr auto;
      align-items: center;
    }
  }

  &__end {
    &--header {
      padding: var(--padding-lg) 0;
      margin: 0;
    }
  }
}
