extends base_template
block greeting
    p.title
    span Hello #{username || 'there'}
block content
    h4.
        Confirm Registration
    p.
        Thank you for joining Edudoor. This email is confirmation that the user #{username} is registering for a new account at edudoor.org
    a(href=link)
        span Click here to complete the registration
