.ed-page-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'N N N'
    'S C C'
    'S C C';

  &:not(.navBar) {
    grid-template-areas:
      'S C C'
      'S C C'
      'S C C';
    .ed-page-layout__navBar {
      display: none;
    }
  }

  &:not(.sidebar) {
    grid-template-areas:
      'N N N'
      'C C C'
      'C C C';
    .ed-page-layout__sidebar {
      display: none;
    }
  }

  &__sidebar {
    grid-area: S;
    display: grid;
    z-index: 2;
  }

  &__navBar {
    grid-area: N;
    z-index: 3;
  }

  &__content {
    grid-area: C;
    padding: var(--padding-lg);
    z-index: 1;

    .ed-page-layout__header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-gap: var(--padding);
      align-items: center;

      &--start{
        position: relative;
        &__arrow-back {
          position: absolute;
          right: calc(100% + var(--padding-xlg));
        }
      }

      &--start,
      &--middle,
      &--end {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        grid-gap: var(--padding);
      }


    }
  }
}
