.ed-checkbox {
  label {
    font-weight: normal;
  }

  .checkbox__container {
    position: relative;
  }

  &__checkbox {
    position: absolute;
    top: -4px;
    pointer-events: none;
    width: 1em;
    height: 1em;
    border: 2px solid var(--accent);
    border-radius: 3px;
    transition: 0.4s background;

    &:before {
      position: absolute;
      content: '\2713';
      font-size: 1.2em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.5s transform;
    }
  }

  input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
  }

  input[type='checkbox']:checked + .ed-checkbox__checkbox {
    background: var(--accent);

    &:before {
      transform: translate(-50%, -50%) scale(1);
      color: white;
    }
  }
}
