.eb-input {
  &.error {
    .eb-input__text {
      input,
      input:focus,
      textarea,
      textarea:focus,
      select,
      select:focus {
        border: 1px solid var(--text-error);
      }
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    &-icon {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      align-self: start;
      z-index: 2;
      margin-left: var(--padding);
      margin-top: calc(2em - 1.2em);
      font-size: 1.2em;
      pointer-events: none;
    }

    input,
    textarea,
    select {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      height: 2em;
      background: var(--bg-primary);
      outline: none;
      padding: var(--padding) var(--padding) var(--padding) 3em;
      color: var(--text-primary);
      transition: 0.5s border, box-shadow;
      border: 1px solid var(--line-color);

      &:focus {
        border: 1px solid var(--primary);
        box-shadow: 0 0 2px 2px var(--shadow-color) inset;
      }
    }

    select {
      height: 3em;
    }

    &--textarea {
      align-items: start;
      textarea {
        padding-top: calc(2em - 1.2em);
        font-family: var(--font-family);
        height: 100px;
      }
    }

    &.noIcon {
      input,
      textarea,
      select {
        padding: var(--padding);
      }
      .eb-input__text-icon {
        display: none;
      }
    }
  }
}
