@import '../../../responsive.scss';

.login-form {
  padding: var(--padding-xlg);

  &__header,
  &__footer {
    display: grid;
    justify-items: center;
  }

  &__header {
    img {
      padding: 2em 0;
      height: 50px !important;
      width: auto !important;
    }
    @include mobile {
      img {
        height: 30px !important;
        padding: 1em 0;
      }

      h1 {
        font-size: 1.4em;
      }
    }
  }

  &__footer {
    grid-gap: var(--padding-xlg);
  }
}
