.login-form {
  padding: var(--padding-xlg);

  &__header,
  &__footer {
    display: grid;
    justify-items: center;
  }

  &__header {
    img {
      padding: 2em 0;
      height: 50px !important;
      width: auto !important;
    }
  }

  &__footer {
    grid-gap: var(--padding-xlg);
  }
}
