@import '../../../index';

.ed-list {
  background: var(--bg-primary);
  list-style: none;
  position: relative;
  border: 1px solid var(--line-color);
  padding: 0 0 0 var(--padding-xlg);
  margin: 0;

  .ed-list__item {
    padding: var(--padding) var(--padding);
    position: relative;
    display: grid;
    align-items: center;
    min-height: var(--list-item-height);
    @include darkenHover();
    cursor: default;

    &:after,
    &:before {
      left: -50%;
      width: 200%;
      z-index: 0;
      pointer-events: none;
    }

    &:after {
      bottom: 0;
      content: '';
      position: absolute;
      height: 1px;
      background: var(--line-color);
    }

    &.no-border {
      &:after,
      &:before {
        display: none;
      }
    }
  }

  .ed-list {
    border: none;
  }
}
