.create-quiz-form {
  .quiz-details-form {
    padding: var(--padding);

    .quiz-details {
      display: grid;
      grid-gap: var(--padding-lg);
      grid-template-columns: repeat(auto-fit, minmax(200px, 600px));
      align-items: start;

      > div {
        display: grid;
        grid-gap: var(--padding-lg);
      }
    }
  }

  .basic-form__submitArea {
    position: sticky;
    bottom: calc(-1 * var(--padding-lg));
    background: var(--bg-secondary);
    border-top: 1px solid var(--line-color);
  }
}
