<h2 mat-dialog-title>{{ !data.user.isModerator() ? 'Leave meeting' : 'End meeting' }}</h2>
<mat-dialog-content class="mat-typography">
  <p>
    {{
      !data.user.isModerator()
        ? 'Are you sure that you want to leave this meeting?'
        : 'You can leave the meeting, or end it for all participants.'
    }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="warn" [mat-dialog-close]="true" (click)="leaveMeeting()" cdkFocusInitial>
    Leave meeting
  </button>
  <button
    mat-button
    color="warn"
    [mat-dialog-close]="true"
    (click)="endMeeting()"
    cdkFocusInitial
    *ngIf="data.user.isModerator()"
  >
    <b>
      End meeting for all
    </b>
  </button>
</mat-dialog-actions>
