<ng-template [ngIf]="data.requestVideo && data.requestAudio">
  <h2 mat-dialog-title>
    <mat-icon>videocam</mat-icon>
    <mat-icon>mic</mat-icon>
    Allow Camera and Microphone
  </h2>
  <mat-dialog-content class="mat-typography">
    <p>Allow access to your camera or microphone in order to join a meeting.</p>
  </mat-dialog-content>
</ng-template>

<ng-template [ngIf]="!data.requestVideo && data.requestAudio">
  <h2 mat-dialog-title>
    <mat-icon>mic</mat-icon>
    Allow Microphone
  </h2>
  <mat-dialog-content class="mat-typography">
    <p>Allow access to your microphone in order to join a meeting.</p>
  </mat-dialog-content>
</ng-template>

<ng-template [ngIf]="data.requestVideo && !data.requestAudio">
  <h2 mat-dialog-title>
    <mat-icon>videocam</mat-icon>
    Allow Camera
  </h2>
  <mat-dialog-content class="mat-typography">
    <p>Allow access to your camera in order to join a meeting.</p>
  </mat-dialog-content>
</ng-template>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="notNow()">Not now</button>
  <button mat-button color="primary" (click)="allowAccess()" cdkFocusInitial>
    Allow access
  </button>
</mat-dialog-actions>
