.add-course-form {
  display: grid;

  .course-module {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: var(--padding);
    align-items: center;
  }

  .add-module {
    margin-top: var(--padding);
  }

  .course-modules {
    > p {
      margin: 0;
      color: var(--text-secondary);
    }
  }
  .basic-form__submitArea {
    justify-content: space-between;
  }
}
