.add-forum-form {
  display: grid;

  .forum-module {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: var(--padding);
    align-items: center;
  }

  .add-module {
    margin-top: var(--padding);
  }

  .forum-modules {
    > p {
      margin: 0;
      color: var(--text-secondary);
    }
  }
}
