#header {
  color: #ffffff;
  height: 60px;
  background-color: #333333;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  z-index: 999999;
  min-width: 400px !important;
  padding: 0 1em;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
}

.buttonsContainer {
  display: grid;
  align-items: center;
  grid-gap: 1em;
  grid-auto-flow: column;
  justify-content: end;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: 0.3s all;
}

button:hover {
  background: #222;
}

.mat-icon {
  color: white;
}

.headerLight {
  color: #706969 !important;
  background-color: #eeeeee !important;
}

#navSessionInfo {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}

#navSessionInfo img {
  height: 40px;
}

#navSessionInfo > div {
  display: grid;
  align-items: center;
  padding: 0 1em;
}

#navChatButton .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -17px;
}

#navChatButton .mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -6px;
}

.mat-icon-button[disabled] {
  color: #fff;
}

.titleContent {
  font-family: 'Ubuntu', sans-serif;
  max-width: 100px;
  margin: 5px -18px;
  padding: 0px 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleContentDark {
  background-color: #494949;
  color: #ffffff;
}

.titleContentLight {
  background-color: #dfdfdf !important;
  color: #000000;
}

#header_img {
  max-width: 135px;
  margin-right: 10px;
  margin-top: -3px;
}

#point {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 33px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #000;
  z-index: 99999;
}
.pointLight {
  border: 1px solid #ffffff !important;
}

.tooltipList {
  white-space: pre;
}

@media (max-width: 600px) {
  #navSessionInfo {
    display: none;
  }
}
