<div class="app-toolbar-component" *ngIf="localUser?.session">
  <app-active-user-wrapper>
    <div class="session-header" [ngClass]="whiteboardActive ? 'no-title' : ''">
      <div class="session-title">
        <h1>{{ sessionTitle }}</h1>
      </div>
      <button
        (click)="toggleFullscreen()"
        [disabled]="isConnectionLost"
        *ngIf="localUser | capabilities: MeetingCapabilities.GO_FULL_SCREEN"
        class="fullscreen-button"
      >
        <mat-icon matTooltip="Fullscreen">{{ fullscreenIcon }}</mat-icon>
      </button>
    </div>
  </app-active-user-wrapper>
  <div id="header" role="heading" [class.headerLight]="lightTheme" class="container video-toolbar">
    <div class="title">
      <app-toolbar-logo
        [lightTheme]="lightTheme"
        [sessionId]="sessionTitle"
        [compact]="compact"
        [logoUrl]="logoUrl"
      ></app-toolbar-logo>
    </div>
    <div class="tool-bar">
      <div class="buttonsContainer" [ngClass]="lightTheme ? 'light' : 'dark'">
        <div class="toolbar-button" *ngIf="localUser | capabilities: MeetingCapabilities.PUBLISH_AUDIO">
          <button (click)="toggleMicrophone()" [disabled]="isConnectionLost">
            <mat-icon *ngIf="localUser.isAudioActive()" matTooltip="Mute your audio">mic</mat-icon>
            <mat-icon *ngIf="!localUser.isAudioActive()" color="warn" matTooltip="Unmute your audio">mic_off</mat-icon>
          </button>
        </div>

        <div class="toolbar-button" *ngIf="localUser | capabilities: MeetingCapabilities.PUBLISH_VIDEO">
          <!-- Camera button -->
          <button (click)="toggleCamera()" [disabled]="isConnectionLost">
            <mat-icon color="primary" *ngIf="localUser.isVideoActive()" matTooltip="Turn off video">videocam</mat-icon>
            <mat-icon *ngIf="!localUser.isVideoActive()" color="warn" matTooltip="Turn on video">videocam_off</mat-icon>
          </button>
        </div>
        <div class="toolbar-button" *ngIf="localUser | capabilities: MeetingCapabilities.SHARE_SCREEN">
          <!-- Screenshare button -->
          <button (click)="toggleScreenShare()" [disabled]="isConnectionLost">
            <mat-icon *ngIf="!localUser.screenEnabled()" matTooltip="Start screen share" color="warn"
              >stop_screen_share</mat-icon
            >
            <mat-icon *ngIf="localUser.screenEnabled()" matTooltip="Stop screen sharing">screen_share</mat-icon>
          </button>
        </div>

        <div class="toolbar-button" *ngIf="localUser | capabilities: MeetingCapabilities.SPEAKING_LAYOUT">
          <!-- Automatic / grid layout button -->
          <button (click)="toggleSpeakerLayout()" [disabled]="isConnectionLost">
            <mat-icon matTooltip="Enable speaker layout" color="warn" *ngIf="!isAutoLayout">voice_over_off</mat-icon>
            <mat-icon matTooltip="Disable speaker layout" *ngIf="isAutoLayout">record_voice_over</mat-icon>
          </button>
        </div>

        <div class="toolbar-button" *ngIf="localUser | capabilities: MeetingCapabilities.CHAT">
          <button (click)="toggleChat()" [disabled]="isConnectionLost">
            <mat-icon
              matBadge="{{ newMessagesNum }}"
              [matBadgeHidden]="newMessagesNum === 0"
              matBadgePosition="above before"
              matTooltip="Chat"
              matBadgeColor="accent"
              >chat</mat-icon
            >
          </button>
        </div>
        <div class="toolbar-button">
          <button (click)="toggleParticipants()">
            <mat-icon matTooltip="Participants">people</mat-icon>
          </button>
        </div>
        <div class="toolbar-button" *ngIf="localUser | capabilities: MeetingCapabilities.EXIT_MEETING">
          <button (click)="leaveSession()" id="navLeaveButton">
            <mat-icon color="warn" matTooltip="Leave the session">phone</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="toolbar-actions">
      <button (click)="whiteboardButtonClicked.emit()" mat-stroked-button>
        <mat-icon>{{ whiteboardActive ? 'meeting_room' : 'video_label' }}</mat-icon>
        {{ whiteboardActive ? 'Back to meeting' : 'Whiteboard' }}
      </button>
    </div>
  </div>
</div>
