.app-toolbar-component {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.session-header {
  color: white;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  display: grid;
  z-index: 10;
  grid-auto-flow: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
  grid-template-columns: 1fr auto;
  padding: 0 var(--padding-lg) 50px;
}

.session-header.no-title {
  background: none;
  pointer-events: none;
}

.session-header.no-title .session-title {
  display: none;
}

.session-title {
  justify-self: center;
}

.session-title h1 {
  text-transform: uppercase;
}

.fullscreen-button {
  border: none;
  background: none;
  outline: none;
}
.fullscreen-button mat-icon {
  color: white;
}

.fullscreen-button:hover {
  transform: scale(1.1);
}

#header {
  color: var(--text-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  height: 100px;
  width: 100%;
  z-index: 100000;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  pointer-events: none;
}

#header > * {
  pointer-events: all;
}

.title {
  display: grid;
  justify-self: start;
  justify-items: start;
  justify-content: center;
  padding: 0 var(--padding);
}

.buttonsContainer {
  display: grid;
  align-items: center;
  padding: 1em 2em;
  grid-gap: 1em;
  grid-auto-flow: column;
  justify-content: center;
}

.toolbar-button {
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
}

.toolbar-button.leave-meeting {
}

.buttonsContainer button {
  background: var(--bg-secondary);
  border: 1px solid var(--line-color);
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transition: 0.3s all;
  box-shadow: 0 0 8px 4px var(--shadow-color);
}
.buttonsContainer button mat-icon {
  transition: 0.3s all;
}

.buttonsContainer button:hover {
}

button#navLeaveButton {
  background: var(--text-error);
  height: 70px;
  width: 70px;
}

button#navLeaveButton .mat-icon {
  color: white;
}

mat-icon {
  color: var(--text-primary);
}

#navSessionInfo {
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;
}

#navSessionInfo img {
  height: 30px;
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-right: 0;
}

#navSessionInfo > h3 {
  padding: 0;
  margin: 0;
  text-align: center;
}

#navChatButton .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -17px;
}

#navChatButton .mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -6px;
}

.mat-icon-button[disabled] {
  color: var(--text-primary);
}

.titleContent {
  max-width: 100px;
  margin: 5px -18px;
  padding: 0px 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header_img {
  max-width: 135px;
  margin-right: 10px;
  margin-top: -3px;
}

.tooltipList {
  white-space: pre;
}

.toolbar-actions {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;
  justify-content: end;
  grid-gap: var(--padding);
  padding: 0 var(--padding);
}

.toolbar-actions mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

@media (max-width: 800px) {
  #header {
    grid-template-columns: 1fr auto;
  }
  .title {
    display: none;
  }
}

@media (max-width: 600px) {
  #header {
    height: 60px;
  }

  .toolbar-button {
    width: 35px;
    height: 35px;
  }

  .toolbar-button button {
    width: 40px;
    height: 40px;
  }

  .toolbar-button mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  .session-title h1 {
    font-size: 1em;
  }
}
