#header {
  color: var(--text-primary);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  width: 100%;
  z-index: 100000;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: space-between;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  pointer-events: none;
}

#header > * {
  pointer-events: all;
}

.title {
  display: grid;
  justify-self: stretch;
  justify-items: center;
  justify-content: center;
  padding-top: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  padding-bottom: 2em;
}

.buttonsContainer {
  display: grid;
  align-items: center;
  padding: 1em 2em;
  margin-bottom: 1em;
  grid-gap: 1em;
  grid-auto-flow: column;
  justify-content: center;
}

button {
  background: var(--bg-primary);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transition: 0.3s all;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

button#navLeaveButton {
  background: var(--text-error);
}

button#navLeaveButton .mat-icon {
  color: white;
}

button:hover {
  background: var(--bg-secondary);
}

mat-icon {
  color: var(--text-primary);
}

#navSessionInfo {
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;
}

#navSessionInfo img {
  height: 30px;
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-right: 0;
}

#navSessionInfo > h3 {
  padding: 0;
  margin: 0;
  text-align: center;
}

#navChatButton .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -17px;
}

#navChatButton .mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -6px;
}

.mat-icon-button[disabled] {
  color: var(--text-primary);
}

.titleContent {
  max-width: 100px;
  margin: 5px -18px;
  padding: 0px 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header_img {
  max-width: 135px;
  margin-right: 10px;
  margin-top: -3px;
}

.tooltipList {
  white-space: pre;
}

@media (max-width: 600px) {
  #navSessionInfo {
    display: none;
  }
}
