.page__login {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 3em 0;
  grid-gap: var(--padding-lg);

  .ed-card {
    max-width: 450px;
    width: 100% !important;
  }

  &--footer {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}
