<div class="participants_window">
  <div class="OT_root OT_publisher custom-class localUser" *ngFor="let user of localUser.getEnabledConnections()">
    <stream-component [localUser]="localUser" [user]="localUser" [connection]="user"></stream-component>
  </div>

  <ng-container *ngFor="let user of remoteUsers">
    <div class="OT_root OT_publisher custom-class remoteUser" *ngFor="let connection of user.getEnabledConnections()">
      <stream-component [localUser]="localUser" [connection]="connection" [user]="user"></stream-component>
    </div>
  </ng-container>
</div>
