.page__login {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 3em 0;
  grid-gap: var(--padding-lg);

  form {
    width: 450px;
  }

  &--footer {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}
