.ed-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: auto;
  pointer-events: none;

  &.open {
    pointer-events: all;

    .ed-modal {
      &__background{
        pointer-events: all;
      }

      &__content {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100%;
    background: transparent;
    transition: 0.2s background;
  }


  &__content {
    background: var(--bg-primary);
    min-width: 500px;
    max-width: calc(100% - (var(--padding-xlg) * 2));
    border: 1px solid var(--line-color);
    opacity: 0;
    z-index: 1;
    transform: scale(0.9);
    transition: 0.2s transform cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.2s opacity;

    &__header, &__footer {
      height: var(--modal-header-height);
      display: grid;
      align-items: center;
      padding: 0 var(--padding-xlg);
      background: var(--bg-secondary);
    }

    &__header {
      grid-auto-flow: column;
      justify-content: space-between;
      border-bottom: 1px solid var(--line-color);
    }

    &__body {
      padding: var(--padding-xlg);
      max-height: 70vh;
      overflow-y: auto;
    }

    &__footer {
      &__buttons {
        display: grid;
        grid-template-columns: 1fr 2fr;

        .action-buttons {
          display: grid;
          grid-auto-flow: column;
          justify-items: start;
          grid-gap: var(--padding-xlg);
        }

        .no-action-buttons {
          display: grid;
          justify-items: end;
          grid-auto-flow: column;
          grid-gap: var(--padding-xlg);
          justify-content: end;
        }
      }
    }
  }
}
