# Name of the Customer / Website
customer: {{ CUSTOMER_NAME }}

# Customer type (Options are school-india, school-international, college-india, college-international, institute-india, institute-international, corporate-india, corporate-international)
{% if CUSTOMER_TYPE is defined %}
customer-type: {{ CUSTOMER_TYPE }}
{% else %}
customer-type: college-india
{% endif %}

# HOME Page of the website. Default Value: https://<customer-name>.doorward.tech.
{% if APP_WEBSITE_NAME is defined %}
app_domain: {{ APP_WEBSITE_NAME }}
{% else %}
app_domain: {{ CUSTOMER_NAME }}.doorward.tech
{% endif %}

# Welcome Page Website. Customer should provide this value if they want us to design a custom website for them
{% if WELCOME_WEBSITE_NAME is defined %}
welcomepage_domain: {{ WELCOME_WEBSITE_NAME }}
{% endif %}

# Application URL. Default Value: https://<customer-name>.doorward.tech
{% if APP_WEBSITE_NAME is defined %}
app_url: https://{{ APP_WEBSITE_NAME }}
{% else %}
app_url: https://{{ CUSTOMER_NAME }}.doorward.tech
{% endif %}

# Public URL of OpenVidu: Default Value: samvadam:<customer-name>.doorward.tech
samvadam_domain: samvadam.{{ CUSTOMER_NAME }}.doorward.tech

# Public Domain of REST API: Default Value: thala:<customer-name>.doorward.tech
thala_domain: thala.{{ CUSTOMER_NAME }}.doorward.tech

# Public Domain for openvidu API.
openviduapi_url: https://vidu.{{ CUSTOMER_NAME }}.doorward.tech/api/

# Public Domain for OpenVidu API
openviduapi_domain: vidu.{{ CUSTOMER_NAME }}.doorward.tech

# Public URL of Openvidu Server
classrooms_url: classrooms.{{ CUSTOMER_NAME }}.doorward.tech

# Name of the Website. Default Value: <Customer-Name>
websitename: {{ CUSTOMER_NAME }}

# Namespace of Kubernetes. Namespace MUST be created in Kubernetes. Default Value: <Customer-name>-doorward
namespace: {{ CUSTOMER_NAME }}-doorward

# Override default variables for stage environments

image:
  swagat:
    repository: core.harbor.doorward.tech/doorward/swagat
    version: {{ APP_VERSION }}
    pullPolicy: Always
  thaladb:
    repository: postgres
    version: 9.6-alpine
    pullPolicy: IfNotPresent
  thala:
    repository: core.harbor.doorward.tech/doorward/thala
    version: {{ APP_VERSION }}
    pullPolicy: Always
  samvadam:
    repository: core.harbor.doorward.tech/doorward/samvadam
    version: 1.0.0
    pullPolicy: IfNotPresent
  chuchu:
    repository: core.harbor.doorward.tech/doorward/chuchu
    version: {{ APP_VERSION }}
    pullPolicy: Always
  vidu:
    repository: core.harbor.doorward.tech/doorward/vidu
    version: {{ APP_VERSION }}
    pullPolicy: Always


organization:
  # Organization Logo
  {% if LOGO_URL is defined %}
  logo: "{{ LOGO_URL }}"
  {% else %}
  logo: "https://doorward.s3.amazonaws.com/logos/download1.png"
  {% endif %}

  # Display Name of Organization
  {% if ORGANIZATION_DISPLAY_NAME is defined %}
  name: {{ ORGANIZATION_DISPLAY_NAME }}
  {% else %}
  name: Doorward
  {% endif %}

  # Application URL
  {% if APP_WEBSITE_NAME is defined %}
  website: {{ APP_WEBSITE_NAME }}
  {% else %}
  website: {{ CUSTOMER_NAME }}.doorward.tech
  {% endif %}

  #Organization Admin Email ID
  {% if ORGANIZATION_ADMIN_EMAIL is defined %}
  email: {{ ORGANIZATION_ADMIN_EMAIL }}
  {% else %}
  email: info@doorward.tech
  {% endif %}
