---
- job:
    name: {{ CUSTOMER_NAME }}-rollingupdates
    parameters:
      - string:
          name: APP_VERSION
          default: {{ APP_VERSION }}
          description: Version of the application to be deployed
    builders:
      - shell: "cd helm/environment/{{ CUSTOMER_NAME }} && helmfile -l stage=1 sync && sleep 100 && helmfile -l stage=2 sync"
