---
- job:
    name: rollingupdate-{{ CUSTOMER_NAME }}
    project-type: pipeline
    sandbox: true
    parameters:
      - string:
          name: APP_VERSION
          default: {{ APP_VERSION }}
          description: Version of the application to be deployed
    pipeline-scm:
      script-path: helm/environments/{{ CUSTOMER_NAME }}/Jenkinsfile
      scm:
        - git:
            url: ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/edudoor_frontend
            credentials-id: Git-Access
            branches:
             - origin/develop
    builders:
      - shell: "cd helm/environment/{{ CUSTOMER_NAME }} && helmfile -l stage=1 sync && sleep 100 && helmfile -l stage=2 sync"
