CUSTOMER_NAME: {{ CUSTOMER_NAME }}
APP_VERSION: {{ APP_VERSION }}
{% if LOGO_URL is defined %}
LOGO_URL: "{{ LOGO_URL }}"
{% else %}
LOGO_URL: "https://doorward.s3.amazonaws.com/logos/download1.png"
{% endif %}
{% if ORGANIZATION_DISPLAY_NAME is defined %}
ORGANIZATION_DISPLAY_NAME: "{{ ORGANIZATION_DISPLAY_NAME }}"
{% else %}
ORGANIZATION_DISPLAY_NAME: "Doorward E-Learning"
{% endif %}
{% if APP_WEBSITE_NAME is defined %}
APP_WEBSITE_NAME: "{{ APP_WEBSITE_NAME }}"
{% else %}
APP_WEBSITE_NAME: "{{ CUSTOMER_NAME }}.doorward.tech"
{% endif %}
{% if ORGANIZATION_ADMIN_EMAIL is defined %}
ORGANIZATION_ADMIN_EMAIL: "{{ ORGANIZATION_ADMIN_EMAIL }}"
{% else %}
ORGANIZATION_ADMIN_EMAIL: "info@doorward.tech"
{% endif %}
{% if WELCOME_WEBSITE_NAME is defined %}
WELCOME_WEBSITE_NAME: "{{ WELCOME_WEBSITE_NAME }}"
{% else %}
WELCOME_WEBSITE_NAME: "www.doorward.tech"
{% endif %}
