CUSTOMER_NAME: {{ CUSTOMER_NAME }}
APP_VERSION: {{ APP_VERSION }}
LOGO_URL: "{{ LOGO_URL }}"
ORGANIZATION_DISPLAY_NAME: "{{ ORGANIZATION_DISPLAY_NAME }}"
APP_WEBSITE_NAME: "{{ APP_WEBSITE_NAME }}"
ORGANIZATION_ADMIN_EMAIL: "{{ ORGANIZATION_ADMIN_EMAIL }}"
WELCOME_WEBSITE_NAME: "{{ WELCOME_WEBSITE_NAME }}"
