@import '../../../index';

.ed-list {
  list-style: none;
  position: relative;
  padding: 0 0 0 var(--padding);
  margin: 0;

  > .ed-list__item {
    padding: 0 var(--padding);
    position: relative;
    display: grid;
    align-items: center;
    min-height: var(--list-item-height);
    cursor: default;

    &.no-border {
      &:after,
      &:before {
        display: none;
      }
    }
  }

  .ed-list {
    border: none;
  }
}
