extends base_template
block greeting
    p.title
    span Hello #{username || 'there'}
block content
    p.
        You have requested for a password reset for #{models.student}. Click on the following link in order to reset your password.
    a(href=link)
        span Reset password
    p.
        If you did not request for this password change. Kindly ignore this email.
