.participants-list {
  padding: 30px 1em;
}

.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.header .title {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  align-items: center;
}

.meeting-info span {
  cursor: pointer;
}

.users-list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
  padding: 1em 0;
}

.user {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  align-items: center;
  color: white;
}

.user .avatar {
  width: 40px;
  height: 40px;
}

.user .name {
  display: grid;
  grid-template-rows: auto auto;
}

.user .name h4 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: normal;
}

.user .name span {
  font-size: 0.8em;
}
