doctype html
html
    head
        link(rel="stylesheet", href="./css/emails.css", data-inline)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap")
        title #{organization.name}
        script.
          document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    body
        div.container
            div.header
                img(src="https://makonis.ai/images/logo.png")
                h2 #{organization.descriptiveLogo ? '': organization.name}
            div.greeting
                block greeting
            div.content
                block content
        div.footer
            block footer
            div.footer_content
              p
                a(href="https://doorward.tech/#classroom-section") Classrooms
                span.spacing  &middot;
                a(href="https://doorward.tech/#pricing-section") Pricing
                span.spacing  &middot;
                a(href="https://doorward.tech/#about-section") About
              p 126A, Parayil, Anappara PO, Angamaly - 683581
            div &copy; #{new Date().getFullYear()} Doorward, All Rights Reserved.
