extends base_template
block greeting
    p.title
    span Hello #{recipient.fullName || 'there'}
block content
    p.
        A new teacher account has been created for you at #{organization.name}.
        To proceed with the login. Kindly create a password first.
    p.
        You will use the following username to access your account.
    div.centered
        h2 #{recipient.username}
    a(href=link)
        span Create a password
