body {
  background: var(--bg-secondary);
  font-family: var(--font-family);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: var(--page-font-size);
  }
}

a {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.clickable {
  cursor: pointer;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

#root {
  transition: 0.7s filter;
}

@mixin darkenHover {
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    transition: 0.5s background;
    background: rgba(0, 0, 0, 0);
  }

  &:hover {
    &:before {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &:active {
    &:before {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
