@import '../../../responsive';

.ed-userProfileCard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: var(--padding-lg);
  margin-top: var(--padding-xlg);
  align-items: start;

  &__main {
    grid-column: 1 / 4;
    @include mobile {
      grid-column: 1 / 10;
    }
    display: grid;
    grid-gap: var(--padding-xlg);
  }

  &__account {
    grid-column: 4 / 10;
    @include mobile {
      grid-column: 1 / 10;
    }
    display: grid;
    grid-gap: var(--padding-xlg);

    .ed-card__header {
      grid-template-columns: 1fr auto;
      align-items: center;
    }
  }

  &__end {
    &--header {
      padding: var(--padding-lg) 0;
      margin: 0;
    }
  }
}
