.ed-navBar {
  background: var(--bg-primary);
  height: var(--navBar-size);
  grid-auto-flow: column;
  padding: 0 var(--padding-xlg);
  display: grid;
  align-items: center;
  justify-content: start;
  grid-gap: var(--padding-xlg);
  border-bottom: 1px solid var(--primary);

  .hamburger {
  }

  .page-logo {
    a {
      display: inline-grid;
      align-items: center;
      grid-auto-flow: column;
      text-decoration: none;
      color: var(--primary);
      grid-gap: var(--padding);
      font-size: 1.5em;
      font-weight: lighter;

      .image {
        font-size: 1.5em;
      }
    }
  }
}
