@mixin hoverEffect {
  position: relative;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--accent);
    width: 0;
    transition: 0.2s width, 0.2s background;
  }

  &:after {
    width: 100%;
    background: rgba(0, 0, 0, 0);
  }

  &:hover {
    &:before {
      width: 5px;
    }
    &:after {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.eb-sideBar {
  background: var(--bg-primary);
  width: var(--sidebar-size);
  transition: 0.5s width;
  border-right: 1px solid var(--line-color);

  &.collapsed {
    width: var(--collapsed-sidebar-size);

    .sidemenu {
      overflow: visible;
      justify-items: start;

      .arrow {
        display: none;
      }

      .nav-item {
        transition: 0.5s width;
        &.open {
          position: relative;

          &:not(:hover) {
            .sub-menu {
              position: absolute;
              display: none !important;
              height: 100%;
            }
          }

          .sub-menu {
            display: block;
            height: 100%;
            padding-left: var(--collapsed-sidebar-size);

            .side-nav-link {
              background: var(--bg-primary);
              border-right: 1px solid var(--line-color);
              border-left: 1px solid var(--line-color);
              width: calc(100% - var(--collapsed-sidebar-size) + 1px);
              box-shadow: 0 6px 8px 4px var(--shadow-color);
              @include hoverEffect();
            }
            .side-nav-item:last-child {
              .side-nav-link {
                border-bottom: 1px solid var(--line-color);
              }
            }
          }

          &.active {
            .sub-menu {
              .side-nav-link {
                background: var(--bg-secondary);
              }
            }
          }
        }
        &:not(:hover) {
          .nav-link {
            border: 1px solid transparent;
            grid-template-columns: 1fr;

            .title,
            .sideMenu {
              display: none;
            }
          }
        }

        &:hover {
          width: var(--sidebar-size);
          box-shadow: 0 6px 8px 4px var(--shadow-color);
          border: 1px solid var(--line-color);
          .nav-link {
            grid-template-columns: calc(var(--collapsed-sidebar-size)) 1fr;
          }
        }
        &:not(.subMenu){
          .nav-link {
            cursor: pointer !important;
          }
        }
      }
    }

    .nav-link .title,
    .arrow {
    }
  }

  .sidemenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    overflow: hidden;

    .nav-item {
      background: var(--bg-primary);
      z-index: 2;

      &.open {
        .arrow {
          transform: rotate(90deg);
        }

        .nav-link {
          &:hover {
            .arrow {
              transform: rotate(90deg);
            }
          }
        }
      }
      &.active {
        background: var(--bg-secondary);

        .nav-link {
          color: var(--primary);
          background: var(--bg-secondary);
        }
      }

      .nav-link,
      .side-nav-link {
        display: grid;
        z-index: 2;
        grid-auto-flow: column;
        text-decoration: none;
        color: var(--text-primary);
        align-items: center;
        height: var(--menu-item-height);
        grid-template-columns: auto 1fr auto;
        grid-gap: var(--padding);
        transition: 0.5s color, background;
        padding: var(--padding) var(--padding-xlg);

        &:hover {
          color: var(--primary);

          .arrow {
            transform: translateX(3px);
          }
        }

        .arrow {
          justify-self: end;
          transition: 0.5s transform;
        }
      }

      &:not(.subMenu) {
        .nav-link .arrow {
          display: none;
        }
        .nav-link {
          @include hoverEffect();
        }
      }

      &.subMenu {
        .nav-link,
        .nav-link:hover {
          color: var(--text-primary);
        }
        .nav-link {
        }
      }

      .sub-menu {
        list-style: none;
        padding: 0;
        z-index: 1;
        position: relative;
        transition: 0.5s max-height, 0.5s opacity ease-in-out;

        .side-nav-item {
          &.active {
            .side-nav-link {
              color: var(--primary);
              @include hoverEffect();
            }
          }

          .side-nav-link {
            padding: var(--padding) var(--padding-xlg) var(--padding) calc(var(--padding-xlg) * 2);
            @include hoverEffect();
          }
        }
      }
    }
  }
}
