.eb-input {
  padding: var(--padding-sm) 0;

  label {
    margin-bottom: var(--padding-sm);
  }

  &.error {
    .eb-input__error-message {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__error-message {
    font-size: 0.8em;
    opacity: 0;
    height: 1em;
    color: var(--text-error);
    transform: translateY(-100%);
    transition: 0.5s transform, opacity;
  }
}
