.add-module-page {
  display: grid;
  justify-items: start;
  .eb-input {
    max-width: unset;
    &--draft-text-area{
      &__wrapper, &__editor{
        min-height: 400px;
        max-width: unset;
      }
    }
  }

  input {
    width: 500px;
  }

  .youtube-button {
    background: #c10000;
    border: 1px solid #c10000;
  }
}
