.ed-navBar {
  background: var(--bg-primary);
  height: var(--navBar-size);
  grid-template-columns: auto 1fr auto;
  padding: 0 var(--padding-xlg);
  display: grid;
  align-items: center;
  justify-content: start;
  grid-gap: var(--padding-xlg);
  border-bottom: 1px solid var(--primary);


  &__inner {
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
    grid-gap: var(--padding-xlg);
  }

  .user-management {
    justify-self: end;
  }
}
