.page__login {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 3em;

  form {
    width: 450px;
  }

  &--footer {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}
