.ed-single-question-assessment {
  .saving-status {
    &__saved {
      display: flex;
      align-items: center;

      i {
        background: var(--text-success);
        color: white;
        border-radius: 50%;
        font-size: 1em;
        padding: var(--padding-sm);
      }
    }
  }
}

.question-list-wrapper {
  padding: 20px;
}
.question-list-inner {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid {
  grid-column: auto;
  grid-template-columns: 5px;
}
