<div id="chatContainer">
  <div id="chatComponent" [class.chatComponentLight]="lightTheme">
    <div id="chatToolbar">
      <h3>Chat</h3>
      <mat-icon (click)="close()" matTooltip="Close">close</mat-icon>
    </div>
    <div class="message-wrap" #chatScroll>
      <div *ngFor="let data of messageList" class="message" [ngClass]="data.isLocal ? 'right' : 'left'">
        <div class="user-img">
          <user-avatar [name]="data.nickname" [avatar]="data.userAvatar"> </user-avatar>
        </div>
        <div class="msg-detail">
          <div class="msg-info">
            <span>{{ data.nickname }}</span>
          </div>
          <div class="msg-content">
            <p class="text" [innerHTML]="data.message | linkify"></p>
          </div>
        </div>
      </div>
    </div>

    <div id="messageInput">
      <input
        #chatInput
        placeholder="Send a message"
        autocomplete="off"
        (keypress)="eventKeyPress($event)"
        [(ngModel)]="message"
        id="chatInput"
      />
      <mat-icon id="sendButton" matTooltip="Send" (click)="sendMessage()">send</mat-icon>
    </div>
  </div>
</div>
