#chatContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  background: var(--bg-primary-dark);
}

#chatComponent {
  padding: 1em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: calc(100vh - 2em);
  grid-gap: 1em;
  height: 100%;
}

#chatToolbar {
  color: var(--text-primary);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.message-wrap {
  overflow-y: scroll;
  display: grid;
  width: 100%;
  padding: 1em 0;
  grid-auto-flow: row;
  align-items: start;
  align-content: start;
  grid-gap: 1em;
}

.message.right {
  grid-template-areas: 'd u';
  grid-template-columns: auto auto;
  justify-self: end;
}

.message.right .msg-detail {
  justify-content: end;
  justify-items: end;
}

.message {
  display: grid;
  grid-template-areas: 'u d';
  grid-template-columns: auto auto;
  align-items: start;
  align-content: start;
  grid-gap: 1em;
  justify-content: start;
  justify-items: start;
}

.message .user-img {
  grid-area: u;
  width: 40px;
  height: 40px;
}

.message .msg-detail {
  background-color: var(--bg-primary);
  grid-area: d;
  padding: 0.5em;
  display: grid;
  color: var(--text-primary);
  grid-gap: 0.5em;
}

.msg-info {
  color: var(--text-secondary);
}

.msg-content p {
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
  max-width: 300px;
}

/* End my messages */

#messageInput {
  background-color: var(--bg-primary);
  text-align: center;
  padding: 10px 20px;
  height: 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  align-items: center;
}

#messageInput input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-primary);
}

#messageInput mat-icon {
  color: var(--text-primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color__hover);
}
