.ed-condition {
  display: grid;
  grid-template: 1fr / 1f;
  place-items: center;

  > div {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: 0.5s all;
  }

  > div:first-child {
    pointer-events: none;
    transform: translateX(50%);
    opacity: 0;
  }
  > div:last-child {
    pointer-events: all;
    transform: translateX(0);
    opacity: 1;
  }

  &.isTrue {
    > div:first-child {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
    > div:last-child {
      pointer-events: none;
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}
