.drag-and-drop-list {
  .dragIndicator {
    opacity: 0.5;
  }

  &-item {
    padding: var(--padding);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: var(--padding);
    &.dragging {
      > div:last-child {
        box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
