html {
  padding: 0;
}

@font-face {
  src: url("https://firebasestorage.googleapis.com/v0/b/freelancer-b3706.appspot.com/o/Sailec-Regular-thin.woff2?alt=media&token=fd42c48b-b15b-4f4b-87cb-b4851ef7433e") format("woff2");
  font-family: "Sailec-Regular";
  font-weight: 300;
}
@font-face {
  src: url("https://firebasestorage.googleapis.com/v0/b/freelancer-b3706.appspot.com/o/Sailec-Regular-normal.woff2?alt=media&token=19c7ed3e-c747-4ed7-82b1-44dec1ad7ecb") format("woff2");
  font-family: "Sailec-Regular";
  font-weight: normal;
}
@font-face {
  src: url("https://firebasestorage.googleapis.com/v0/b/freelancer-b3706.appspot.com/o/Sailec-Regular-bold.woff2?alt=media&token=90a7afe3-9320-4ce6-86c3-912b18a14967") format("woff2");
  font-family: "Sailec-Regular";
  font-weight: 500;
}
* {
  font-family: "Sailec-Regular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

body {
  height: 100%;
  min-height: 700px;
  background-image: url("https://res.cloudinary.com/dldhztrbs/image/upload/v1590752464/Edudoor/page_background.png");
  background-size: cover;
  padding-top: 20px;
}

.container {
  max-width: 600px;
  border: 1px solid #ccc;
  width: 100%;
  margin: auto;
  background: white;
}
.container .header {
  background: #0649cd;
  color: white;
  text-align: center;
  padding: 1em;
  margin: 0;
}
.container .header img {
  width: 70px;
  height: 70px;
}
.container .greeting {
  border-bottom: 1px solid #ccc;
  padding: 1em;
}
.container .greeting p {
  margin: 0;
}
.container .greeting h4 {
  font-weight: bold;
  font-size: 1.3em;
}
.container .content {
  padding: 3em 1em;
}
.container .footer {
  color: #333;
  border-top: 1px solid #ccc;
  padding-bottom: 5px;
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
}
.container .footer a {
  color: #222;
}
.container .footer_content {
  padding-top: 50px;
  padding-bottom: 30px;
}

.spacing {
  margin: 0 10px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-centered {
  text-align: center;
}

table {
  width: auto;
  margin-top: 40px;
  margin-bottom: 40px ;
}

table td {
  padding-left: 10px;
  padding-right: 10px;
}
