.ed-page-layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto 1fr;
  position: fixed;
  grid-template-areas:
    'N N N N'
    'S C C R'
    'S C C R';

  &.background {
    background: url('../../assets/images/page_background.svg') no-repeat;
    background-size: cover;
  }

  &:not(.navBar) {
    grid-template-areas:
      'S C C R'
      'S C C R'
      'S C C R';
    .ed-page-layout__navBar {
      display: none;
    }
  }

  &:not(.sidebar) {
    grid-template-areas:
      'N N N N'
      'C C C R'
      'C C C R';
    .ed-page-layout__sidebar {
      display: none;
    }
  }

  &__sidebar {
    grid-area: S;
    display: grid;
  }

  &__navBar {
    grid-area: N;
  }

  &__topHeader {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-auto-flow: column;

    .ed-breadcrumbs {
      margin: var(--padding) 0;
    }
  }

  &__right_content {
    width: 250px;
    height: 100%;
    grid-area: R;
    padding: var(--padding-lg);
    background: var(--bg-primary);
    border-left: 1px solid var(--line-color);
  }

  &__content {
    grid-area: C;
    padding: var(--padding-lg);
    overflow: auto;

    .ed-page-layout__header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-gap: var(--padding);
      align-items: center;

      &--title {
        padding: var(--padding-lg) 0;
      }

      &--start {
        position: relative;
        align-items: center;
        &__arrow-back {
          position: absolute;
          right: calc(100% + var(--padding-xlg));
        }

        &__searchBar {
        }
      }

      &--start,
      &--middle,
      &--end {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        grid-gap: var(--padding-lg);
      }
    }
  }

  &__full_content {
    display: grid;
    &--body {
    }

    &--footer {
      position: fixed;
      bottom: 0;
      display: grid;
      width: 100%;
      left: 0;
    }
  }
}
