.nav-logo {
  .hamburger {
  }

  .page-logo {
    a {
      display: inline-grid;
      align-items: center;
      grid-auto-flow: column;
      text-decoration: none;
      color: var(--text-primary);
      font-size: 1.5em;

      .image {
        font-size: 1.5em;
      }
    }
  }

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: var(--padding-xlg);
  justify-content: start;
}
