.web-component {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &__content {
    &.refreshing {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01));
        left: 0;
        animation: refreshingAnimation 1s infinite linear;
      }
    }
  }

  &__spinner {
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    grid-row: 1/ 1;
    grid-column: 1/1;
  }

  &__empty {
    opacity: 1;
    grid-column: 1/1;
    pointer-events: all;
    grid-row: 1/ 1;
  }

  &.loading {
    .web-component__empty {
      opacity: 0;
      pointer-events: none;
    }
    .web-component__spinner {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@keyframes refreshingAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
