.ed-answers-view {
  width: auto;
  min-width: 300px;
  max-width: 500px;

  .answer-view-item {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: var(--padding);
    align-items: start;
    padding: var(--padding);
    position: relative;

    .correct-answer-display {
      position: absolute;
      display: grid;
      background: var(--text-success);
      color: var(--text-alternate);
      top: 50%;
      white-space: nowrap;
      align-items: center;
      right: 0;
      transform: translateY(-50%) translateX(100%);
      padding: var(--padding-sm) var(--padding);
      box-shadow: var(--box-shadow);

      &:before {
        content: '';
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        z-index: -1;
        background: var(--text-success);
        left: -0.5em;
        transform: rotate(45deg);
      }
    }
  }
}
